* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 500;
}


body {
    min-width: 980px;
    width: 100%;
}

.btn:hover {
    background-color: yellowgreen;
}

header {
    z-index: 1;
    background: #FBF9F1;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.input-field {
    font-size: 18px;
    padding: 10px;
    border: none;
}

.search-box {
    list-style-type: none;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    margin: 0 auto;
    width: 30%;
    border: solid 3px #2A6049;
}

.icon {
    padding: 10px;
    color: white;
    font-size: x-large;
}

.btn {
    border-radius: 20px;
    height: 90%;
    margin: 5px;
    font-size: 20px;
    background: #2A6049;
    color: white;
    border: solid 3px #000000;
}

#Container {
    z-index: 1;
    position: relative;
    left: auto;
    right: auto;
    text-indent: 0px;
}

    #Container ul {
        list-style-type: none;
        text-align: center
    }

        #Container ul li {
            background: #FBF9F1;
            display: inline-table;
            margin: 0px 10px;
            font-size: x-large;
        }

            #Container ul li a {
                display: block;
                color: black;
                font-weight: bold;
                text-decoration: none;
                padding: .3em 6px;
            }

    #Container li a:hover {
        color: white;
        background: #2A6049;
    }

    #Container li ul {
        position: absolute;
        display: none;
        margin: 0;
        padding: 0;
        width: 10em
    }

    #Container li:hover ul {
        display: block;
    }

    #Container ul li ul li {
        width: 100%;
        border: 1px solid green;
        margin: 0;
    }

footer {
    background-color: #2A6049;
    color: white;
    margin-top:20px
}

    footer table td {
        padding: 20px;
    }

    footer b {
        font-size: 15px;
        font-weight: bold;
    }

    footer a {
        color: white;
    }

        footer a:hover {
            color: antiquewhite
        }



.banner {
    background-color: #2A6049;
    color: white;
}

.img-logo2{
    height:200px;
    width:180px;
}


h3 a {
    color: black;
}



h1 {
    color: #2A6049;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

logo {
    font-size: x-large;
    color: #2A6049;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

strong {
    font-weight: bold;
    color: #019009;
    font-size: 24px;
}

p {
    font-size: 18px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width:60%;
}

img{
    width:100%;
}

.img-logo{
    width:75px;
    height:85px;
}

.td {
    width: 260px;
}

h2 {
    align-content: center;
    text-align: center;
    color: #000000;
    
}

h5{
    font-family:'Times New Roman';
}

